<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <compilation defaultLanguage="c#" />
    </system.web>
  <system.serviceModel>    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!--<dataContractSerializer maxItemsInObjectGraph="100" />-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add connectionString="server=.;database=CakePromo;uid=sa;pwd=R00tR00t;" name="primaryConn" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
